.root {
    -fx-background-color: #0B1A2C;
    -fx-text-fill: white
}

.button {
    -fx-background-color:  #51a36b;
    -fx-text-fill: white;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-padding: 8 ;
}

.button:hover {
    -fx-background-color: #1565C0;
}

.table-view {
    -fx-background-color: #0B1A2C;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 8;
}

.table-view .table-cell {
    -fx-text-fill: #B0BEC5;
    -fx-background-color: #0B1A2C;
    -fx-alignment: CENTER;
}

.table-row-cell:odd {
    -fx-background-color: #10283E;
}

.table-row-cell:even {
    -fx-background-color: #0B1A2C;
}

.text-field, .date-picker {
    -fx-background-color: #1e3c5c;
    -fx-text-fill: #E0E0E0;
    -fx-background-radius: 8;
    
}

.combo-box {
    -fx-background-color: #1e3c5c;
    -fx-text-fill: #CFD8DC;
    -fx-background-radius: 8;
}

.combo-box .text {
    -fx-fill: white;
}

.combo-box .text-field {
    -fx-text-fill: black;
    -fx-background-color: #10283E;
}

.combo-box-popup .list-view {
    -fx-background-color: #0B1A2C;
}

.combo-box-popup .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #0B1A2C;
}